@model QLCHVT.Models.NhapKho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhapKho</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.NgayLapPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhanvien.HoNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanvien.HoNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
