@model PagedList.IPagedList<QLCHVT.Models.NhapKho>
@using PagedList.Mvc;
@using QLCHVT.Models;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Danh sách đơn nhập</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("MaNK")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayLapPhieu)*@
            @Html.DisplayName("NgayLapPhieu")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Nhanvien.HoNV)*@
            @Html.DisplayName("HoNV")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNK)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayLapPhieu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nhanvien.HoNV)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaNK }) |
        @Html.Display("Details")
        <a class="btn btn-info" href="@Url.Action("Details","ChiTietNhapKho",new {id=item.MaNK})">Details</a> |

        @Html.ActionLink("Delete", "Delete", new { id = item.MaNK })
    </td>
</tr>
}

</table>
</div>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("Index",
         new
         {
             Page
         } ))
</div>
