@model IEnumerable<QLCHVT.Models.XuatKho>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách đơn bán hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())

{
    <p></p>
    <div class="form-group form-inline" style=" width: max-content; margin-left: auto; transform: translateX(-286px)">
        Tìm theo MXK: @Html.TextBox("SearchString", "", new { @class = "Form-control" })
        <input type="submit" value="Tìm" class="btn btn-primary" />
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaXK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapPhieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhanvien.HoNV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaXK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapPhieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhanvien.HoNV)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaXK }) |
                @Html.Display("Details")
                <a class="btn btn-info" href="@Url.Action("Details","ChiTietXuatKhoes",new {id=item.MaXK})">Details</a> |




                @Html.ActionLink("Delete", "Delete", new { id = item.MaXK })
            </td>
        </tr>
    }

</table>
